In [1]:
import numpy as np 
import pandas as pd

In [3]:
db = pd.read_csv('./carseats.csv')

In [4]:
db.isnull().sum()

ID             0
Sales          0
CompPrice      0
Income         0
Advertising    0
Population     0
Price          0
ShelveLoc      0
Age            0
Education      0
Urban          0
US             0
dtype: int64

In [5]:
y=db.iloc[:,0]
y

0        1
1        2
2        3
3        4
4        5
      ...
315    316
316    317
317    318
318    319
319    320
Name: ID, Length: 320, dtype: int64

In [6]:
y=pd.cut(y,bins=[np.min(y),np.mean(y),np.max(y)],labels=['bad','good'])
y

0       NaN
1       bad
2       bad
3       bad
4       bad
       ...
315    good
316    good
317    good
318    good
319    good
Name: ID, Length: 320, dtype: category
Categories (2, object): ['bad' < 'good']